asgiref==3.7.2
astroid==2.15.5
backports.zoneinfo==0.2.1
botocore==1.33.8
dill==0.3.7
Django==2.1.15
git-remote-codecommit==1.17
ikp3db==1.4.2
isort==5.12.0
jedi==0.19.0
jmespath==1.0.1
lazy-object-proxy==1.9.0
mccabe==0.7.0
parso==0.8.3
platformdirs==4.1.0
pylint==2.17.4
pylint-django==2.5.3
pylint-flask==0.6
pylint-plugin-utils==0.8.2
python-dateutil==2.8.2
pytz==2023.3.post1
six==1.16.0
sqlparse==0.4.4
tomli==2.0.1
tomlkit==0.12.3
typing-extensions==4.8.0
urllib3==1.26.18
wrapt==1.16.0
